<div class="row">
    <div id="particles-js">
        <!-- <div class="animated bounceInDown" id="side"> -->
        <div class="container">
            <span class="error animated tada" id="msg"></span>
            <form name="form1" class="box">
                <h4>Login <span>Dashboard</span></h4>
                <h5>Log in to your account.</h5>
                <input type="text" name="email" [(ngModel)]="gmail" placeholder="Email" autocomplete="off">
                <i class="typcn typcn-eye" id="eye"></i>
                <input type="password" name="password" [(ngModel)]="pswd" placeholder="Passsword" id="pwd"
                    autocomplete="off">
                <label>
                    <input type="checkbox">
                    <span></span>
                    <small class="rmb">Remember me</small>
                </label>
                <a href="#" class="forgetpass">Forget Password?</a>
                <input type="submit" value="Sign in" (click)="login()" class="btn1">
            </form>
            <a routerLink="register" class="dnthave">Don’t have an account? Sign up</a>
        </div>

        <!-- </div> -->
    </div>

</div>